<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srv-app07.parlement.intra/MailService/Mail.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMail"
                contract="ServiceReference_Mail.IMail" name="BasicHttpBinding_IMail" />
        </client>
    </system.serviceModel>
</configuration>