<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="ClosedXML" version="0.96.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net472" />
  <package id="DocX" version="2.2.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc.fr" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor.fr" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.fr" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.1" targetFramework="net472" />
  <package id="NReco.PdfGenerator" version="1.2.1" targetFramework="net472" />
  <package id="Select.HtmlToPdf" version="22.2.0" targetFramework="net472" />
  <package id="Select.Pdf" version="22.2.0" targetFramework="net472" />
</packages>